.dashboardContainer {
    height: 95vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding: 2rem 2rem;
    padding-bottom: 0rem;
}

.llmChat {
    flex-grow: 1; 
}

.inputBar {
    position: sticky; 
    left: 0;
    bottom: 0;
    width: 100%; 
    padding: 1.5rem 0rem; 
    z-index: 10;
    background-color: rgb(249, 249, 249);
    display: flex;
    justify-content: center;
}

.inputBarContainer {
    width: 100%; 
    max-width: 700px; 
    box-shadow: 0px 0px 30px 20px rgba(247, 246, 246, 0.106);
    border-radius: 12px;
    padding:0px 10px; 
}

/* CanvasPage.module.css */
/* CanvasPage.module.css */
/* CanvasPage.module.css */
.container {
    position: relative;
    padding: 2px;
    /* height: 100%; */
    overflow: auto;
  }
  
  .highlight {
    position: absolute;
    left: 0;
    right: 0;
    height: 24px;
    background: rgba(64, 147, 255, 0.1);
    border-left: 3px solid #4093ff;
    transition: top 0.1s ease-in-out;
    pointer-events: none;
  }

  .crossIcon{
    padding: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
